vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Aug 2023 15:58:36 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|courses/c_password.html courses/courses.dwt master.dwt education/education.html courses/c_course.html courses/web_course_css.html editing.html courses/python_password.html work/work.html pedogogy/pedogogy.html courses/python_course.html courses/bare_minimim.html index.html testimonials/testimonials.html courses/web_password.html courses/web_course.html teaching/teaching.html courses/web_course_html.html
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timecreated:TR|14 Aug 2023 15:12:56 -0000
vti_nexttolasttimemodified:TW|14 Aug 2023 15:12:56 -0000
vti_cacheddtm:TX|14 Aug 2023 15:12:56 -0000
vti_filesize:IR|8898
vti_cachedlinkinfo:VX|Q|../layout.css
vti_cachedsvcrellinks:VX|NQUS|layout.css
