vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Oct 2023 06:23:54 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|courses/courses.dwt courses/javascript_password.html courses/c_course.html courses/web_course_css.html courses/HexNumbers.html courses/bare_minimim.html courses/python_password.html work/work.html pedogogy/pedogogy.html courses/python_course.html courses/editing.html courses/colors.html index.html testimonials/testimonials.html courses/web_password.html courses/web_course.html teaching/teaching.html courses/web_course_html.html courses/javascript_event_names.html courses/web_course_page.html courses/javascript_course.html courses/web_course_build.html courses/c_password.html courses/BinaryNumbers.html master.dwt education/education.html courses/web_course_javascript.html
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timecreated:TR|14 Aug 2023 15:12:56 -0000
vti_nexttolasttimemodified:TW|06 Oct 2023 12:37:42 -0000
vti_cacheddtm:TX|07 Oct 2023 06:23:54 -0000
vti_filesize:IR|10519
vti_cachedlinkinfo:VX|Q|../layout.css
vti_cachedsvcrellinks:VX|FQUS|layout.css
