vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Aug 2023 08:35:52 -0000
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_nexttolasttimemodified:TW|07 Aug 2023 08:35:37 -0000
vti_timecreated:TR|06 Jun 2023 08:33:18 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|courses/c_password.html master.dwt NativePlants/NativePlants.html courses/c_course.html Portfolio/Portfolio.html NativeLawns/NativeLawns.html PlasticWeedMat/PlasticWeedMat.html pedogogy/pedogogy.html courses/python_password.html courses/python_course.html editing.html index.html ArtificialLawns/ArtificialLawns.html Testimonials/testimonials.html courses/web_course.html courses/web_password.html courses/web_course_html.html
vti_cacheddtm:TX|07 Aug 2023 08:35:52 -0000
vti_filesize:IR|7906
vti_cachedlinkinfo:VX|Q|../layout.css
vti_cachedsvcrellinks:VX|NQUS|layout.css
