vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Dec 2023 05:21:05 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timecreated:TR|03 Dec 2023 05:21:05 -0000
vti_cacheddtm:TX|03 Dec 2023 05:21:05 -0000
vti_filesize:IR|4427
vti_cachedlinkinfo:VX|H|{@url} H|{@profile_url} H|{@post_url} H|{@msg_url} K|bbcode.html S|{URL} H|{URL} D|clsid:D27CDB6E-AE6D-11CF-96B8-444553540000 D|http://active.macromedia.com/flash2/cabs/swflash.cab S|{URL} S|{URL}
vti_cachedsvcrellinks:VX|NHUS|forum/styles/prosilver/template/{@url} NHUS|forum/styles/prosilver/template/{@profile_url} NHUS|forum/styles/prosilver/template/{@post_url} NHUS|forum/styles/prosilver/template/{@msg_url} FKUS|forum/styles/prosilver/template/bbcode.html NSUS|forum/styles/prosilver/template/{URL} NHUS|forum/styles/prosilver/template/{URL} NDUS|clsid:D27CDB6E-AE6D-11CF-96B8-444553540000 NDHS|http://active.macromedia.com/flash2/cabs/swflash.cab NSUS|forum/styles/prosilver/template/{URL} NSUS|forum/styles/prosilver/template/{URL}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
vti_backlinkinfo:VX|forum/styles/prosilver/template/bbcode.html
