vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Dec 2023 05:21:06 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timecreated:TR|03 Dec 2023 05:21:06 -0000
vti_cacheddtm:TX|03 Dec 2023 05:21:06 -0000
vti_filesize:IR|6491
vti_cachedlinkinfo:VX|H|{forumrow.U_VIEWFORUM} H|{forumrow.U_VIEWFORUM} H|{forumrow.U_VIEWFORUM} H|{forumrow.subforum.U_SUBFORUM} H|{forumrow.U_UNAPPROVED_TOPICS} H|{forumrow.U_UNAPPROVED_POSTS} H|{forumrow.U_LAST_POST} H|{forumrow.U_LAST_POST}
vti_cachedsvcrellinks:VX|NHUS|forum/styles/prosilver/template/{forumrow.U_VIEWFORUM} NHUS|forum/styles/prosilver/template/{forumrow.U_VIEWFORUM} NHUS|forum/styles/prosilver/template/{forumrow.U_VIEWFORUM} NHUS|forum/styles/prosilver/template/{forumrow.subforum.U_SUBFORUM} NHUS|forum/styles/prosilver/template/{forumrow.U_UNAPPROVED_TOPICS} NHUS|forum/styles/prosilver/template/{forumrow.U_UNAPPROVED_POSTS} NHUS|forum/styles/prosilver/template/{forumrow.U_LAST_POST} NHUS|forum/styles/prosilver/template/{forumrow.U_LAST_POST}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
vti_backlinkinfo:VX|
