vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Dec 2023 05:21:05 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timecreated:TR|03 Dec 2023 05:21:05 -0000
vti_cacheddtm:TX|03 Dec 2023 05:21:05 -0000
vti_filesize:IR|2687
vti_cachedlinkinfo:VX|H|{U_VIEW_FORUM} H|{U_INDEX} H|{U_SEARCH_TOPIC} H|{U_SEARCH} H|{jumpbox_forums.LINK}
vti_cachedsvcrellinks:VX|NHUS|forum/styles/prosilver/template/{U_VIEW_FORUM} NHUS|forum/styles/prosilver/template/{U_INDEX} NHUS|forum/styles/prosilver/template/{U_SEARCH_TOPIC} NHUS|forum/styles/prosilver/template/{U_SEARCH} NHUS|forum/styles/prosilver/template/{jumpbox_forums.LINK}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
vti_backlinkinfo:VX|
