vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Dec 2023 05:21:09 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timecreated:TR|03 Dec 2023 05:21:09 -0000
vti_cacheddtm:TX|03 Dec 2023 05:21:09 -0000
vti_filesize:IR|8698
vti_cachedlinkinfo:VX|H|{U_VIEW_TOPIC} K|mcp_topic.html K|mcp_topic.html K|mcp_topic.html A|{S_MCP_ACTION} S|{topic_icon.ICON_IMG} H|{U_SELECT_TOPIC} K|mcp_topic.html H|{postrow.U_POST_DETAILS} H|{postrow.U_POST_DETAILS} H|{postrow.U_MINI_POST} H|{postrow.U_MCP_DETAILS} H|{postrow.U_MCP_APPROVE} H|{postrow.U_MCP_APPROVE} H|{postrow.U_MCP_REPORT} K|mcp_topic.html K|mcp_topic.html
vti_cachedsvcrellinks:VX|NHUS|forum/styles/prosilver/template/{U_VIEW_TOPIC} FKUS|forum/styles/prosilver/template/mcp_topic.html FKUS|forum/styles/prosilver/template/mcp_topic.html FKUS|forum/styles/prosilver/template/mcp_topic.html NAUS|forum/styles/prosilver/template/{S_MCP_ACTION} NSUS|forum/styles/prosilver/template/{topic_icon.ICON_IMG} NHUS|forum/styles/prosilver/template/{U_SELECT_TOPIC} FKUS|forum/styles/prosilver/template/mcp_topic.html NHUS|forum/styles/prosilver/template/{postrow.U_POST_DETAILS} NHUS|forum/styles/prosilver/template/{postrow.U_POST_DETAILS} NHUS|forum/styles/prosilver/template/{postrow.U_MINI_POST} NHUS|forum/styles/prosilver/template/{postrow.U_MCP_DETAILS} NHUS|forum/styles/prosilver/template/{postrow.U_MCP_APPROVE} NHUS|forum/styles/prosilver/template/{postrow.U_MCP_APPROVE} NHUS|forum/styles/prosilver/template/{postrow.U_MCP_REPORT} FKUS|forum/styles/prosilver/template/mcp_topic.html FKUS|forum/styles/prosilver/template/mcp_topic.html
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
vti_backlinkinfo:VX|forum/styles/prosilver/template/mcp_topic.html
