vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Dec 2023 05:21:06 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timecreated:TR|03 Dec 2023 05:21:06 -0000
vti_cacheddtm:TX|03 Dec 2023 05:21:06 -0000
vti_filesize:IR|3932
vti_cachedlinkinfo:VX|H|{{\\ U_PRIVACY\\ }} H|{{\\ U_TERMS_USE\\ }} H|{{\\ U_ACP\\ }} K|overall_footer.html K|overall_footer.html S|{T_JQUERY_LINK} S|{T_ASSETS_PATH}/javascript/core.js S|{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.js
vti_cachedsvcrellinks:VX|NHUS|forum/styles/prosilver/template/{{\\ U_PRIVACY\\ }} NHUS|forum/styles/prosilver/template/{{\\ U_TERMS_USE\\ }} NHUS|forum/styles/prosilver/template/{{\\ U_ACP\\ }} FKUS|forum/styles/prosilver/template/overall_footer.html FKUS|forum/styles/prosilver/template/overall_footer.html NSUS|forum/styles/prosilver/template/{T_JQUERY_LINK} NSUS|forum/styles/prosilver/template/{T_ASSETS_PATH}/javascript/core.js NSUS|forum/styles/prosilver/template/{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.js
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
vti_backlinkinfo:VX|forum/styles/prosilver/template/overall_footer.html
