vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Dec 2023 05:21:05 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timecreated:TR|03 Dec 2023 05:21:05 -0000
vti_cacheddtm:TX|03 Dec 2023 05:21:05 -0000
vti_filesize:IR|9792
vti_cachedlinkinfo:VX|S|{topic_icon.ICON_IMG} K|posting_editor.html S|{smiley.SMILEY_IMG} H|{U_MORE_SMILIES} H|{S_UCP_ACTION} K|posting_editor.html K|posting_editor.html K|posting_editor.html K|posting_editor.html
vti_cachedsvcrellinks:VX|NSUS|forum/styles/prosilver/template/{topic_icon.ICON_IMG} FKUS|forum/styles/prosilver/template/posting_editor.html NSUS|forum/styles/prosilver/template/{smiley.SMILEY_IMG} NHUS|forum/styles/prosilver/template/{U_MORE_SMILIES} NHUS|forum/styles/prosilver/template/{S_UCP_ACTION} FKUS|forum/styles/prosilver/template/posting_editor.html FKUS|forum/styles/prosilver/template/posting_editor.html FKUS|forum/styles/prosilver/template/posting_editor.html FKUS|forum/styles/prosilver/template/posting_editor.html
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
vti_backlinkinfo:VX|forum/styles/prosilver/template/posting_editor.html
