vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Dec 2023 05:21:07 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timecreated:TR|03 Dec 2023 05:21:07 -0000
vti_cacheddtm:TX|03 Dec 2023 05:21:07 -0000
vti_filesize:IR|1651
vti_cachedtitle:SR|{SITENAME} • <!-- IF S_IN_MCP -->{L_MCP} • <!-- ELSEIF S_IN_UCP -->{L_UCP} • <!-- ENDIF -->{PAGE_TITLE}
vti_cachedbodystyle:SR|<body id="phpbb" class="nojs {S_CONTENT_DIRECTION} {BODY_CLASS}">
vti_cachedlinkinfo:VX|Q|{T_FONT_AWESOME_LINK} Q|{T_STYLESHEET_LINK} Q|{T_STYLESHEET_LANG_LINK} Q|{T_THEME_PATH}/bidi.css X|{T_THEME_PATH}/tweaks.css
vti_cachedsvcrellinks:VX|NQUS|forum/styles/prosilver/template/{T_FONT_AWESOME_LINK} NQUS|forum/styles/prosilver/template/{T_STYLESHEET_LINK} NQUS|forum/styles/prosilver/template/{T_STYLESHEET_LANG_LINK} NQUS|forum/styles/prosilver/template/{T_THEME_PATH}/bidi.css NXUS|forum/styles/prosilver/template/{T_THEME_PATH}/tweaks.css
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=X-UA-Compatible IE=edge viewport width=device-width,\\ initial-scale=1
vti_charset:SR|utf-8
vti_title:SR|{SITENAME} • <!-- IF S_IN_MCP -->{L_MCP} • <!-- ELSEIF S_IN_UCP -->{L_UCP} • <!-- ENDIF -->{PAGE_TITLE}
vti_backlinkinfo:VX|
