vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Dec 2023 05:21:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timecreated:TR|03 Dec 2023 05:21:08 -0000
vti_cacheddtm:TX|03 Dec 2023 05:21:08 -0000
vti_filesize:IR|8602
vti_cachedlinkinfo:VX|A|{S_UCP_ACTION} K|ucp_groups_manage.html K|ucp_groups_manage.html K|ucp_groups_manage.html H|{U_FIND_USERNAME} H|{leader.U_EDIT} H|{leader.U_EDIT} H|{leader.U_LIST}
vti_cachedsvcrellinks:VX|NAUS|forum/styles/prosilver/template/{S_UCP_ACTION} FKUS|forum/styles/prosilver/template/ucp_groups_manage.html FKUS|forum/styles/prosilver/template/ucp_groups_manage.html FKUS|forum/styles/prosilver/template/ucp_groups_manage.html NHUS|forum/styles/prosilver/template/{U_FIND_USERNAME} NHUS|forum/styles/prosilver/template/{leader.U_EDIT} NHUS|forum/styles/prosilver/template/{leader.U_EDIT} NHUS|forum/styles/prosilver/template/{leader.U_LIST}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
vti_backlinkinfo:VX|forum/styles/prosilver/template/ucp_groups_manage.html
