vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Dec 2023 05:21:05 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timecreated:TR|03 Dec 2023 05:21:05 -0000
vti_cacheddtm:TX|03 Dec 2023 05:21:05 -0000
vti_filesize:IR|4915
vti_cachedlinkinfo:VX|A|{S_UCP_ACTION} H|{U_MARK_ALL} S|{T_THEME_PATH}/images/no_avatar.gif H|<!--\\ IF\\ notification_list.UNREAD\\ -->{notification_list.U_MARK_READ}<!--\\ ELSE\\ -->{notification_list.URL}<!--\\ ENDIF\\ --> K|ucp_notifications.html K|ucp_notifications.html
vti_cachedsvcrellinks:VX|NAUS|forum/styles/prosilver/template/{S_UCP_ACTION} NHUS|forum/styles/prosilver/template/{U_MARK_ALL} NSUS|forum/styles/prosilver/template/{T_THEME_PATH}/images/no_avatar.gif NHUS|forum/styles/prosilver/template/<!--\\ IF\\ notification_list.UNREAD\\ -->{notification_list.U_MARK_READ}<!--\\ ELSE\\ -->{notification_list.URL}<!--\\ ENDIF\\ --> FKUS|forum/styles/prosilver/template/ucp_notifications.html FKUS|forum/styles/prosilver/template/ucp_notifications.html
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
vti_backlinkinfo:VX|forum/styles/prosilver/template/ucp_notifications.html
