@import url("layout.css");
:root
{
	--start_color: rgba(205,26,120,1);
	--end_color: rgba(249,139,11,1);
}
body 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	background-attachment: scroll;
	background-color: var(--end_color);
	width: 1400px;
}
.container 
{
	/*width: 700px;*/
	margin: 10px auto;
}
.masthead 
{
	display: block;
	width: 100%;
	height: 120px;
	background-image: linear-gradient(var(--start_color), var(--end_color));
}

.gluten
{
	font-family: "Gluten", cursive;
	font-optical-sizing: auto;
	font-weight: 400;/*100 - 900;*/
	font-style: normal;
	font-variation-settings: "slnt" 0;
}
.playwrite-gb-s
{
	font-family: "Playwrite GB S", cursive;
	font-optical-sizing: auto;
	font-weight: 100;/*100 - 400*/
	font-style: normal;
}
.playwrite-gb-j
{
	font-family: "Playwrite GB J", cursive;
	font-optical-sizing: auto;
	font-weight: 100;/*100 - 400*/;
	font-style: normal;
}
.masthead_text
{
	display: inline-block;
	float: left;
	padding-left: 20px;
	margin-left: 5px;
	height: 100%;
}
/* Masthead Styles */
.masthead h1 
{
	color: white;
	font-weight: 500;
	font-size: 100px;
	margin-top: 5px;
	margin-bottom: 0px;
}
.masthead h3 
{
	color: white;
	font-weight: 500;
	font-size: xx-large;
	margin-top: 0px;
	margin-bottom: 0px;
}
.masthead_image
{
	display: inline-block;
	border-style: solid;
	border-width: thin;
	border-color: white;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 10px;
}
.below_masthead
{
	display: block;
	width: 100%;
}
.navigation
{
	display: inline-block;
	float: left;
	width: 148px;
	margin-top: 10px;
	background-color: white;
	margin-left: 5px;
	border: 2px solid var(--start_color);
}
.content 
{
	display: inline-block;
	float: left;
	width: 86.5%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid var(--start_color);
	background-color: white;
}
.page_heading
{
	color: var(--start_color);
	font-size: 40px;
	font-weight: bold;
}
.adverts_table
{
}
.time_table_header_cell
{
	background-color:var(--end_color);
}
.time_table_body_cell
{
	width: 120px;
}
.footer 
{
	text-align: center;
	clear: both;
	width: 100%;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: var(--start_color);
}
.footer_navigation
{
	display: inline-block;
	position: relative;
	height: 100%;
	line-height: 30px;
	vertical-align: middle;
	color: var(--end_color);
}
.image_attribution
{
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
}
.footer_attribution
{
	display: inline-block;
	position: relative;
	float: right;
	background-color: var(--start_color);
	color: /*var(--end_color)*/black;
	margin-right: 10px;
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
}
/* Navigation Styles */
.navigation ul 
{
	list-style-type: none;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
.navigation li 
{
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #fff;
	background-color: #fff;
}
.navigation a 
{
	color: var(--end_color);
	text-decoration: none;
	display: block;
	padding: 5px;
	border: 1px solid #fff;
	background-color: #fff;
	
	font-family: "Gluten", cursive;
  	font-optical-sizing: auto;
  	font-weight: 400;/*100 - 900;*/
  	font-style: normal;
  	font-variation-settings: "slnt" 0;

	font-size: medium;
	font-weight: bold;
}
.navigation a:hover 
{
	color:var(--end_color);
	text-decoration: none;
	border: 1px solid var(--end_color);
	background-color: var(--start_color);
}
/* Content Styles */
.content h1,h2,h3,h4,h5,h6 
{
	font-family: "Gluten", cursive;
  	font-optical-sizing: auto;
  	font-weight: 600;/*100 - 900;*/
  	font-style: normal;
  	font-variation-settings: "slnt" 0;
	color: var(--start_color);
}
.content p
{
	font-family: "Playwrite GB J", cursive;
	font-optical-sizing: auto;
	font-weight: 300;/*100 - 900*/;
	font-style: normal;
	font-size: medium;
}
.content b
{
	font-family: "Playwrite GB J", cursive;
	font-optical-sizing: auto;
	font-weight: 600;/*100 - 900*/;
	font-style: normal;
	font-size: medium;
}
/* Footer Styles */
.footer p 
{
	font-family: "Playwrite GB J", cursive;
	font-optical-sizing: auto;
	font-weight: 300;/*100 - 400*/;
	font-style: normal;
	font-size: medium;
	color: var(--end_color);
	margin-top: 5px;
}
.footer a 
{
	font-family: "Gluten", cursive;
	font-optical-sizing: auto;
	font-weight: 600;/*100 - 900;*/
	font-style: normal;
	font-variation-settings: "slnt" 0;
	font-size: medium;
	color: var(--end_color);
	text-decoration: underline;
}
.footer a:hover 
{
	color: var(--end_color);
	text-decoration: none;
}
a 
{
	font-family: "Playwrite GB J", cursive;
	font-optical-sizing: auto;
	font-weight: 300;/*100 - 400*/;
	font-style: normal;
	font-size: medium;

	color: #5f8ea9;
	text-decoration: underline;
}
a:hover 
{
	color: #33627d;
	text-decoration: underline;
}
input[type=text]
{
	width: 300px;
	border-style: inset;
	border-width: 2px;
	border-radius: 5px;
	border-bottom-color:#CCCCCC;
	border-right-color:#CCCCCC;
	border-top-color: #D2D2D2;
	border-left-color: #D2D2D2;
}
input[type=button]
{
	border-style: outset;
	border-radius: 3px;
	border-width: 2px;
	background-color: silver;
	text-align: center;
	width: 80px;
	color: black;
	font-weight: bold;
	border-top-color:#CCCCCC;
	border-left-color:#CCCCCC;
	border-bottom-color: #D2D2D2;
	border-right-color: #D2D2D2;
}
textarea
{
	border-style: inset;
	resize: none;
	border-radius: 3px;
	border-width: 2px;
	border-bottom-color:#CCCCCC;
	border-right-color:#CCCCCC;
	border-top-color: #D2D2D2;
	border-left-color: #D2D2D2;
}
form
{
	background-color: #E1E1E1;
	border-style: outset;
	border-width: 2px;
	width: 385px;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 5px;
}
label
{
	font-weight: bold;
}
.style_bold 
{
	font-weight: bold;
}
.style_italic 
{
	font-style: italic;
}