vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DELL-LAT-E6410\\Gregary
vti_timelastmodified:TR|27 Nov 2025 14:40:51 -0000
vti_timecreated:TR|25 May 2023 07:17:32 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_cacheddtm:TX|27 Nov 2025 14:40:51 -0000
vti_filesize:IR|363
