<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
                <add value="iistart.aspx" />
                <add value="Defaut.aspx" />
                <add value="iistart.asp" />
                <add value="iistart.php" />
                <add value="iistart.html" />
                <add value="index.asp" />
                <add value="index.php" />
                <add value="Default.html" />
                <add value="Default.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
