.body
{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-style: normal;	
	background-image:url('styles/images/background.jpg');
	background-repeat:no-repeat;
	background-size:100em;
	height: 100em;
	width: 100em;
}

