vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timelastmodified:TR|20 Jun 2023 13:33:53 -0000
vti_timecreated:TR|13 May 2023 09:48:43 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.htm FlybackTransformer/FlybackTransformer.html master.dwt TeslaCoil/TeslaCoil.html PlasmaGlobe/PlasmaGlobe.html
vti_nexttolasttimemodified:TW|20 Jun 2023 13:33:36 -0000
vti_cacheddtm:TX|20 Jun 2023 13:33:53 -0000
vti_filesize:IR|3706
vti_cachedlinkinfo:VX|Q|../layout.css
vti_cachedsvcrellinks:VX|NQUS|layout.css
