vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timelastmodified:TR|13 May 2023 11:26:03 -0000
vti_timecreated:TR|13 May 2023 09:48:43 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|TeslaCoil/default.html index.htm master.dwt FlybackTransformer/default.html information_links/default.html PlasmaGlobe/default.html services/default.html contact/default.html news/default.html
vti_nexttolasttimemodified:TW|13 May 2023 11:23:29 -0000
vti_cacheddtm:TX|13 May 2023 11:26:03 -0000
vti_filesize:IR|1809
vti_cachedlinkinfo:VX|Q|layout.css
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css
