@import url('../layout.css');
body 
{
	font-family: Arial, sans-serif;
	font-size: medium;
	color: #000;
	overflow: hidden;
}
#container 
{
	width: 100%;
	height: 100%;
	background-color: #cb8;
}
#masthead 
{
	width: 100%;
	overflow: hidden;
	text-align: right;
	background-color: #c5d5e5;
	height: 120px;
}
#page_content 
{
	position: relative;
	overflow: hidden;
}
#sidebar 
{
	position: relative;
	float: left;
	width: 180px;
	background-color: #cb8;
	overflow-y: auto;
	overflow-x: hidden;
}
#content 
{
	margin-left: 140px;
	padding: 10px;
	background-color: #fff;
	overflow-y: auto;
	overflow-x: hidden;
	height: 426px;
}
.ContentListItem
{
	font-size: medium;
	font-weight: bold;
	color: black;
}
.ContentsParagraph
{
	font-size: large;
	font-weight: bold;
	color: black;
	
}
.TOCHeading
{
	font-size: large;
	font-weight: bold;
	color: #357171;
	margin: 0px;
}
.TOCList
{
	display: block;
	background-color: #80C0C0;
	list-style-type: none;
	font-size: medium;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 40px;
	width: 50%;
	border: medium #50A9A9 outset;
}
#TOCList a:hover
{
	text-decoration: none;
	color: white;
	background-color: #357171;
}
.TOCListItem
{
	margin-bottom: 5px;
	display: block;
	color: white;
	width: 70%;
}
.TOCLink
{
	color: white;
	text-decoration: none;
}
.TOCLine
{
	border: 1.5px solid #357171;
}

#footer
{
	clear: both;
	width: 99%;
	overflow: hidden;
	padding-top: 1%;
	padding-right: 0;
	padding-bottom: 1%;
	padding-left: 1%;
	background-color: #cdf;
}
#footer_links
{
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 10px;
	color: navy;
}
#footer_copyright
{
	display: inline-block;
	position: relative;
	float: right;
	margin-right: 10px;
	color: navy;
}
.center_vertically
{
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.website_banner
{
	display: inline-block;
	text-align:left;
	float:left;
	margin-left:30px;
	width:62%;
	margin-left: 10px;
	font-weight: bold;
	overflow: hidden;
	color: navy;
	/*background-color: aqua;*/
	width: 60%;
	font-family:/*"Rockwell Extra Bold"*/"Bauhaus 93";
}
.website_heading
{
	/*background-color: red;*/
	font-size: 60px;
	line-height: 1.2;
}
.website_motto
{
	/*background-color: yellow;*/
	font-size: large;
}
.page_title
{
	color: navy;
}
.contact
{
	display: inline-block;
	text-align:left;
	float:right;
	font-size: small;
	margin-right: 10px;
	overflow: hidden;
	color: navy;
	/*background-color: fuchsia;*/
	width: 25%;
}
.Author
{
	
}
.Email
{
	color: red;
}
#Contact a:hover
{
	color: black;	
}
#Author a:hover
{
	color: black;
}
.logo
{
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 10px;
	overflow: hidden;
	/*background-color: lime;*/
}
#masthead p 
{
	font-size: small;
	margin: 0;
	margin-right: 1%;
}
h1,h2,h3,h4,h5,h6 
{
	font-family: Arial Black;
}
/* Styles for Navigation */
#sidebar ul {
	list-style-type: none;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
#sidebar li {
	display: block;
	border: 1px solid #cb8;
}
#sidebar a 
{
	font-weight: bold;
	text-decoration: none;
	color: #393939;
	padding: 5%;
	display: block;
	border-bottom: 1px solid #f5f5f5;
}
#sidebar a:hover 
{
	font-weight: bold;
	text-decoration: none;
	color: #393939;
	border-bottom: 1px solid #f5f5f5;
	background-color: #dc9;
}
.MenuPopup
{
	/*display: inline.block;*/
	display: none;
	position: relative;
	width: 88%;
	background-color: #dc9;
	padding: 5px;
	margin-left: 10px;
}
.MenuPopupItem
{
	background-color: #dc9;
}
#MenuPopup a:hover 
{
	background-color: #cb8;
	font-weight: bold;
	text-decoration: none;
	color: black;
	width:90%;
}
/* Styles for Footer */
#footer p 
{
	font-size: x-small;
}
#footer a 
{
	color: #393939;
	text-decoration: underline;
	color: navy;
}
#footer a:hover 
{
	color: #393939;
	text-decoration: none;
	color: blue;
}
.style_bold 
{
	font-weight: bold;
}
.style_italic 
{
	font-style: italic;
}


