@import url('../layout.css');
body 
{
	font-family: Arial, sans-serif;
	font-size: medium;
	color: #000;
	overflow: hidden;
}

#container 
{
	width: 100%;
	height: 100%;
	background-color: #cb8;
}

#masthead 
{
	width: 100%;
	overflow: hidden;
	text-align: right;
	background-color: #c5d5e5;
	height: 120px;
}

#page_content 
{
	position: relative;
	overflow: hidden;
}

#sidebar 
{
	position: relative;
	float: left;
	width: 180px;
	background-color: #cb8;
	overflow-y: auto;
	overflow-x: hidden;
}

#content 
{
	margin-left: 140px;
	padding: 10px;
	background-color: #fff;
	overflow-y: auto;
	overflow-x: hidden;
	height: 420px;
}

.ContentListItem
{
	font-size: medium;
	font-weight: bold;
	color: black;
}

.ContentsParagraph
{
	font-size: large;
	font-weight: bold;
	color: black;
	
}
/*********************************************************************/
/*********************************************************************/
/**
/** TABLE OF CONTENTS
/**
/*********************************************************************/
/*********************************************************************/
.TOCHeading
{
	font-size: large;
	font-weight: bold;
	color: #357171;
	margin: 0px;
}

.TOCList
{
	display: block;
	background-color: #80C0C0;
	list-style-type: none;
	font-size: medium;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 40px;
	width: 50%;
	border: medium #50A9A9 outset;
}

#TOCList a:hover
{
	text-decoration: none;
	color: white;
	background-color: #357171;
}

.TOCListItem
{
	margin-bottom: 5px;
	display: block;
	color: white;
	width: 70%;
}

.TOCLink
{
	color: white;
	text-decoration: none;
}

.TOCLine
{
	border: 1.5px solid #357171;
}

/*********************************************************************/
/*********************************************************************/
/**
/** FOOTER
/**
/*********************************************************************/
/*********************************************************************/
.footer
{
	clear: both;
	width: 99%;
	height: 38px;
	overflow: hidden;
	padding-top: 0.5%;
	padding-right: 0;
	padding-bottom: 0.5%;
	padding-left: 1%;
	background-color: #cdf;
}

.footer_links
{
	display: inline-block;
	position: relative;
	top: -6px;
	float: left;
	margin-left: 10px;
	color: navy;
}

.footer_link
{
	margin-left:0px;
	margin-right: 80px;
	color: white;
	font-size: large;
	/*background-color: aqua;*/
}
.footer_image
{
	position: relative;
	top: 4px;
}

.footer_copyright
{
	display: inline-block;
	position: relative;
	top: -27px;
	float: right;
	margin-right: 10px;
	color: navy;
	/*background-color: lime;*/
	font-size: small;
}

#footer a 
{
	color: #393939;
	text-decoration: underline;
	color: navy;
}

#footer a:hover 
{
	color: #393939;
	text-decoration: underline;
	color: red;
}

/*********************************************************************/
/*********************************************************************/
/**
/** MASTHEAD
/**
/*********************************************************************/
/*********************************************************************/
.website_banner
{
	display: inline-block;
	text-align:left;
	float:left;
	margin-left:30px;
	width:62%;
	margin-left: 10px;
	font-weight: bold;
	overflow: hidden;
	color: navy;
	/*background-color: aqua;*/
	width: 50%;
	font-family:/*"Rockwell Extra Bold"*/"Bauhaus 93";
}

.website_heading
{
	/*background-color: red;*/
	font-size: 60px;
	line-height: 1.2;
	/*background-color: aqua;*/
}

.website_motto
{
	/*background-color: yellow;*/
	font-size: large;
}

.page_title
{
	color: navy;
}

.contact
{
	position: relative;
	top: -38px;
	display: inline-block;
	text-align:left;
	float:right;
	font-size: small;
	margin-right: 10px;
	overflow: hidden;
	color: navy;
	/*background-color: fuchsia;*/
	width: 26%;
}

.Author
{
	
}

.Email
{
	color: red;
}

#Contact a:hover
{
	color: black;	
}

#Author a:hover
{
	color: black;
}

.logo
{
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 10px;
	overflow: hidden;
	/*background-color: lime;*/
}

#masthead p 
{
	font-size: small;
	margin: 0;
	margin-right: 1%;
}

/*********************************************************************/
/*********************************************************************/
/**
/** MISCELLANEOUS
/**
/*********************************************************************/
/*********************************************************************/
.center_vertically
{
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.style_bold 
{
	font-weight: bold;
}

.style_italic 
{
	font-style: italic;
}

h1,h2,h3,h4,h5,h6 
{
	font-family: Arial Black;
}

/*********************************************************************/
/*********************************************************************/
/**
/** SIDE BAR & NAVIGATION
/**
/*********************************************************************/
/*********************************************************************/
#sidebar ul {
	list-style-type: none;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}

#sidebar li 
{
	display: block;
	border: 1px solid #cb8;
}

#sidebar a 
{
	font-weight: bold;
	text-decoration: none;
	color: #393939;
	padding: 5%;
	display: block;
	border-bottom: 1px solid #f5f5f5;
}

#sidebar a:hover 
{
	font-weight: bold;
	text-decoration: none;
	color: #393939;
	border-bottom: 1px solid #f5f5f5;
	background-color: #dc9;
}

/*********************************************************************/
/*********************************************************************/
/**
/** POPUP MENU
/**
/*********************************************************************/
/*********************************************************************/
.MenuPopup
{
	/*display: inline.block;*/
	display: none;
	position: relative;
	width: 88%;
	background-color: #dc9;
	padding: 5px;
	margin-left: 10px;
}

.MenuPopupItem
{
	background-color: #dc9;
}

#MenuPopup a:hover 
{
	background-color: #cb8;
	font-weight: bold;
	text-decoration: none;
	color: black;
	width:90%;
}

/*********************************************************************/
/*********************************************************************/
/**
/** BUTTONS
/**
/*********************************************************************/
/*********************************************************************/
.PreviousNextButtons
{
	color: white;
	font-size: medium;
	font-weight: bold;
	background-color: #CCBB88;
	border-width: medium;
	border-radius: 10px;
	border-color: #CCBB88;
	width: 140px;
	padding: 10px;
}

/*********************************************************************/
/*********************************************************************/
/**
/** TRY IT NOW
/**
/*********************************************************************/
/*********************************************************************/
.TryItNowCode
{
	display: inline;
	background-color: white;
	border-color: teal;
}
.TryItNowContainer
{
	display: block;
	background-color: teal;
	width: 65.6em;
	height: 100%;
	padding: 10px;
	border-radius: 10px;
}

.TryItNowResults
{
	position: relative;
	top: 2px;
	display: inline-block;
	background-color: white;
	margin-left: 5px;
	width: 32.5em;
	height: 10.7em;
}

.TryItNowButton
{
	display: inline-block;
	width: 80px;
	margin-bottom: 5px;
	margin-left: 25em;
	margin-right: 0.3em;
}

textarea 
{
  resize: none;
}

.RadioButtonGroup
{
	border-style: solid;
	border-width: thin;
	border-color: black;
	padding: 5px;
	vertical-align: top;
	font-size: small;
}
.TexInputList
{
	list-style-type:none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0.5em;
}

/*********************************************************************/
/*********************************************************************/
/**
/** COURSE STAGES
/**
/*********************************************************************/
/*********************************************************************/

.StageHeading
{
	color: red;
}

.StageLink
{
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
	background-color: #CCBB88;
	border-radius: 5px;
	padding: 5px;
	width: 220px;
	font-size: small;
	font-weight: bold;
}

a:hover
{
	background-color: #DDCC99;
}

#Special3 a:hover
{
	background-color: yellow;
}

#Special4 a:hover
{
	background-color: lime;
}

#Special5 a:hover
{
	background-color: blue;
}

.Border
{
    border-style: solid;
    border-width: medium;
    border-color: red;
}

.Text
{
    font-size: large;
    font-weight: bold;
    font-size: 12px;
    color: navy;
}

.ContentHeader
{
	display: none;
	background-color: #CCDDFF;
	border-radius: 5px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 1175px;
}

.Answers
{
	display: none;
	background-color: #C5D5E5;
	border-radius: 10px;
	color: navy;
	font-size: medium;
	padding: 10px;
	margin-top: 15px;
}

/*********************************************************************/
/*********************************************************************/
/**
/** INFO POPUPS
/**
/*********************************************************************/
/*********************************************************************/

.info_popup_iframe
{
	width:32em;
	height: 26em;
	border-style: none;
}

.info_popup_container
{
	display: none;
	position: absolute;
	top: 0px;
	background-color: lightgoldenrodyellow;
	color: black;
	padding: 1em;
	z-index: 999;
	width:32.5em;
	height: auto;
	overflow: auto;
}

.login
{
	background-color: teal;
	border-radius: 10px;
	padding: 20px;
}
