@import url(layout.css);

:root 
{
	--ColorMastheadBG: #C5D5E5;
	--ColorBodyBG: white;
	--ColorWebName: black;
	
	--ColorNavBG: #CCAA77;
	--ColorNavAT: black;
	--ColorNavABG: #DDCC88;
	
	--ColorNavAHoverT: black;
	--ColorNavAHoverBG: #EEDD99;
	--ColorNavAHoverT: black;
	--ColorNavAHoverBorder: #EEDD99;
	
	
	--ColorMainButtonGB: #DDCC88;
	--ColorMainButtonT: black;
	
	--ColorFAQQuestionT: red;
	--ColorFAQAnswerT: black;
	
	--ColorFooterBG: #CCAA77;
	--ColorFooterPT: #393939;
	--ColorFooterAT: #393939;
	--ColorFooterAHoverT: black;
  
	--ColorH1T: #393939;
	--ColorH2T: #446699;
	--ColorH3T: #446699;
	--ColorH4T: #446699;
	--ColorH5T: #446699;
	--ColorH6T: #446699;
	
	--ColorAT: #446699;
	--ColorAHoverT: black; 
}

body 
{
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-style: normal;
	background-color: /*white*/var(--ColorBodyBG);
}

.container 
{
	width: 100%;
	height:680px;
	margin: 0;
	background-color: #fff;
	position: relative;
	overflow:hidden;
	/*background-color:aqua;*/
}

.masthead 
{
	text-align: right;
	width: 100%;
	background-color: /*#c5d5e5*/var(--ColorMastheadBG);
}

/* Styles for Masthead */
.logo 
{
	display:inline-block;
	float: left;
	margin: 10px;
	width: 105px;
}

.web_title_container
{
	display:inline-block;
	margin: 10px;
	float:left;
	margin-left:20px;
	/*background-color:blue;*/
}

.web_name
{
	display:block;
	text-align:left;
	font-size:5em;
	font-weight:900;
	color:var(--ColorWebName);
	/*font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif*/
	font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	/*background-color:red;*/
}

.web_tag_line
{
	display:block;
	float:left;
	font-size:medium;
	font-weight:bold;
	/*font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif*/
	font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	/*background-color:green;*/
}

.trades_image
{
	display:inline-block;	
	width:420px;
	margin:10px;
}

.navigation 
{
	background-color: var(--ColorNavBG);
	overflow: hidden;
}

.page_content 
{
	position: relative;
	height:450px;
	overflow:auto;
	padding:10px;
	/*background-color:lime;*/
}

.main_button
{
	display:inline-block;
	position:relative;
	border-radius:15px;
	border-style:solid;
	border-color:#CCAA77;
	background-color:var(--ColorMainButtonGB);
	cursor:pointer;
	text-align:center;
	vertical-align:middle;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:large;
	color:var(--ColorMainButtonT);
	margin:20px;
	width:400px;
	height:50px;
	line-height:50px;
}

.faq_question
{
	list-style-type:none;
	font-size:medium;
	font-weight:bold;
	color:var(--ColorFAQQuestionT);
}

.faq_answer
{
	list-style-type:none;
	font-size:medium;
	font-weight:bold;
	color:var(--ColorFAQAnswerT);
}

/* Styles for Footer */
.footer 
{
	padding: 10px;
	height: 50px;
	background-color: var(--ColorFooterBG);
}

.footer_links
{
	font-size: medium;
	text-align: left;
	color: var(--ColorFooterPT);
	/*margin-left: 10px;
	padding-bottom: 5px;*/
}

#footer_links a 
{
	color: var(--ColorFooterAT);
	text-decoration: underline;
}

#footer_links a:hover 
{
	color:var(--ColorFooterAHoverT);
	text-decoration: none;
}

/* Styles for Navigation */
#navigation ul 
{
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

#navigation li 
{
	float:left;
}

#navigation a 
{
	color:var(--ColorNavAT);
	text-decoration: none;
	display:block;
	padding:5px;
	border:1px solid #ca7;
	background-color:var(--ColorNavABG);
	padding-right:10px;
	padding-left:10px;
}
#navigation a:hover 
{
	color:var(--ColorNavAHoverT);
	text-decoration:none;
	border: 1px solid var(--ColorNavAHoverBorder);
	background-color:var(--ColorNavAHoverBG);
}
/* Styles for Content */
h1 
{
	font-size: 2em;
	color: var(--ColorH1T);
} 

h2 
{
	font-size: 1.75em;
	color: var(--ColorH2T);
}

h3 
{
	font-size: 1.5em;
	color: var(--ColorH3T);
}

h4 
{
	font-size: 1.25em;
	color: var(--ColorH4T);
}

h5 
{
	font-size: 0.75em;
	color: var(--ColorH5T);
}

h6 
{
	font-size: 0.5em;
	color: var(--ColorH6T);
}

/* Styles for Links */
a 
{
	color: #469;
	text-decoration: underline;
}

a:hover 
{
	color: #000;
	text-decoration: underline;
}

textarea
{
	resize:none;
}

/**********************************************************************************************/
/**********************************************************************************************/
/**
/** FORMS & INPUT STYLES
/**
/**********************************************************************************************/
/**********************************************************************************************/
:root 
{
	--TextColor: var(--ColorH4T);
	--BorderRadius: 5px;
}

.form 
{
	background-color: var(--ColorMastheadBG);
	padding: 10px;
	border-radius: var(--BorderRadius);
}

.form fieldset
{
	border-color: var(--TextColor);
	border-style: solid;
	border-width: thin;
}

.form legend, label
{
	color: var(--TextColor);
	font-size:small;
	font-weight: bold;
}

.form input[type=text], input[type=password]
{
	border-color: var(--TextColor);
	border-style: solid;
	border-width: thin;
}

.form input[type=button], input[type=submit]
{
	border-color: var(--TextColor);
	border-style: solid;
	border-width: thin;
	background-color: #B0C0D0;
	color: var(--TextColor);
	border-radius: var(--BorderRadius);
	padding: 1em;
	font-weight: bold;
	cursor: pointer;
}

.form input[type=button]:hover, input[type=submit]:hover
{
	background-color: var(--ColorMastheadBG);

}

.form input[type=checkbox], input[type=radio]
{
	border-color: var(--TextColor);
	border-style: solid;
	border-width: thin;

}

.form input: invalid
{
	border-color: red;
}
