:root
{
	--ColorMastheadBG: LightSlateGray;
	/*--ColorMastheadBG: rgba(100, 100, 150, 0.96);*/
	--NoteHeadingColor: MidnightBlue;
	--NoteTextColor: black;
	--BorderRadiusButton: 10px;
	--LinkColorBG: #506171;
	--LinkColorHighlightBG: #607181;
	--LinkColorText: white;
	--NoteColorBG: white;
	--NoteColor: black;
	--Margin: 30px;
	--BorderRadius: 5px;
	--BorderRadiusSmall: 4px;
	--Padding: 20px;
}

body 
{ 
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: relative;
}

/*
.masthead
{
	background-color: rgba(100, 100, 150, 0.96);
	border-radius: 6em;
	padding-left: 20px;
	padding-right:20px;
	height: 190px;
}
*/
.masthead
{
	background-color: var(--ColorMastheadBG);
	padding-left: var(--Padding);
	padding-right:var(--Padding);
	height: 210px;
}

.logo
{
	display: inline-block;
}

@font-face 
{
    font-family: 'Concrete';
    src: url('ConcretepersonaluseRegular-DOzG0.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.title
{
	display: inline-block;
	position: relative;
	top: -20px;
	font-size: 6em;
	font-weight: bold;
	font-family: 'Concrete';
}

.tag
{
	display: block;
	position: relative;
	top: -30px;
	font-family: 'Concrete';
	font-size: xx-large;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	color: MidnightBlue;
}

.masthead_button
{
	display: inline-block;
	position: relative;
	background-color: silver;
	color: rgb(100, 100, 100);
	float: right;
	margin-top: 3.6em;
	margin-right: 3em;
	font-size: medium;
	font-weight: 800;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: var(--BorderRadiusButton);
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.6em;
	padding-bottom: 0.5em;
	border-style: outset;
	border-width: thin;
	border-top-color: rgb(220, 220, 220);
	border-left-color: rgb(220, 220, 220);
	border-bottom-color: rgb(200, 200, 200);
	border-right-color: rgb(200, 200, 200);
	cursor: pointer;
	text-decoration: none;
}

a.masthead_button:hover
{
	background-color: rgb(210, 210, 210);
}

.navigation
{
	display: block;
	position: relative;
	top: -30px;
	margin-left: 0px;
}

.navigation_link
{
	display: inline-block;
	position: relative;
	margin-right: 3em;
	color: var(--LinkColorText);
	font-size: x-large;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color: var(--LinkColorBG);
	padding: 0.3em;
	border-radius: var(--BorderRadiusButton);
	
}

.navigation_link:hover
{
	background-color: var(--LinkColorHighlightBG);
}

.page_heading
{
	display: inline-block;
	position: relative;
	background-color: var(--LinkColorBG);
	padding: 10px;
	border-radius: var(--BorderRadiusButton);
	margin-top: 10px;
	margin-left: 10px;
	color: var(--LinkColorText);
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-weight: bold;
	text-decoration: underline;
}

.page_content
{
	overflow: auto;
}

.note
{
	/*display: block;*/
	display: flex;
 	flex-wrap: wrap;	
 	/*background-color: rgba(255, 255, 255, 0.9);*/
	background-color: var(--NoteColorBG);
	border-radius: 20px;
	padding: var(--Padding);
	margin-left: var(--Margin);
	margin-right: var(--Margin);
	margin-top: var(--Margin);
	margin-bottom: var(--Margin);
	/*box-shadow: 10px 10px rgba(0, 0, 0, 0.65);*/
	box-shadow: 10px 10px rgb(0, 0, 0);
	border-style: solid;
	border-width: thick;
	border-color: var(--LinkColorBG);
}

.advert
{
	display: flex;
	/*position: relative;*/
	justify-content: left;
	flex-align: left;
	flex-wrap: wrap;
	overflow: auto;
	border-style: solid;
	border-width: medium;
	border-color: var(--NoteHeadingColor);
	background-color: var(--NoteColorBG);
	border-radius: var(--BorderRadius);
	margin-left: 0px;
	margin-right: 0px;
	margin-top: var(--Margin);
	margin-bottom: var(--Margin);
	padding: var(--Padding);
}

.advert_button
{
	cursor: pointer;
	flex-grow: 2;
}

.advert_image
{
	display: inline-block;
	float: left;
}

.advert_text
{
	display: inline-block;
	float: left;
	vertical-align: middle;
	flex-grow: 2;
	font-size: medium;
	font-weight: bold;
}

.advert_expires
{
	display: block;
	font-size: x-small;
	font-weight: bold;
	margin-top: 5px;
	width: 100%;
}

.tradie_about
{
	display:inline-block;
	font-size:small;
	border-style:solid;
	border-width:thin;
	border-color:black;
	padding:10px;
	margin:10px;
	overflow:auto;
	flex-grow:2;
}

.tradie_feedback
{
	display:block;
	font-size:small;
	border-style:solid;
	border-width:thin;
	border-color:black;
	padding:10px;
	margin:10px;
	overflow:auto;
	width: 100%;
}

.feedback_row
{
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: black;
}

.form
{
	display: inline-block;
	position: relative;
	border-style: none;
	margin-right: var(--Margin);
	margin-top: var(--Margin);
	margin-bottom: var(--Margin);
	padding: 10px;
	background-color: var(--ColorMastheadBG);
	border-radius: var(--BorderRadius);

}

form.form fieldset
{
	border-style: solid;
	border-width: medium;
	border-color: var(--NoteHeadingColor);
	background-color: var(--ColorMastheadBG);
	border-radius: var(--BorderRadius);
}

form.form fieldset legend
{
	color: var(--NoteHeadingColor);
	font-size: x-large;
	font-weight: bold;
}

form.form input[type=button], form.form input[type=submit], form.form input[type=reset], form.form button, .button
{
	padding: 8px;
	border-radius: var(--BorderRadius);
	border-style: outset;
	border-width: thin;
	font-size: small;
	font-weight: bold;
	color: black;
}

form.form input[type=file]
{
	font-size: small;
	font-weight: bold;
	color: black;
}

form.form input[type=text], form.form input[type=password], form.form input[type=checkbox], form.form input[type=radio], form.form select, form.form textarea
{
	border-radius: var(--BorderRadiusSmall);
	border-style: inset;
	border-width: thin;
}

div.note p
{
	color:  var(--NoteTextColor);
	font-size: medium;
}

div.note h1
{
	color:  var(--NoteHeadingColor);
}

div.note h2
{
	color: var(--NoteHeadingColor);
}

div.note h3
{
	color: var(--NoteHeadingColor);
}

div.note h4
{
	color: var(--NoteHeadingColor);
}

div.note h5
{
;
	color: var(--NoteHeadingColor);
}

div.note h6
{
	color: var(--NoteHeadingColor);
}

.link_request
{
	font-size: large;
	font-weight: bold;
	font-color: black;
}

.table_borders
{
	table-layout: fixed;
	border-collapse: collapse;
	margin: 10px;
	border-style: solid;
	border-color: var(--NoteHeadingColor);
	border-width: medium;
	width: 100%;
}

.cell_borders
{
	padding: 5px;
	font-size: large;
	color: black;
	width: 50%;
	border-bottom-style: solid;
	border-color: var(--NoteHeadingColor);
	border-width: thin;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	padding: 10px;
}

.table_no_borders
{
	table-layout: fixed;
	border-collapse: collapse;
	margin: 10px;
	border-style: none;
	/*width: 400px;*/
}

.cell_no_borders
{
	padding: 5px;
	font-size: large;
	color: black;
	/*width: 50%;*/
	border-style: none;
	border-bottom-color: navy;
	padding: 10px;
}

h1
{
	font-size: 4em;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
}

h2
{
	font-size: 3.5em;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
}

h3
{
	font-size: 3em;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
}

h4
{
	font-size: 2.5em;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
}

h5
{
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
}

h6
{
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
}

p
{
	margin-bottom: 10px;
}

li
{
	padding-bottom: 10px;
}

textarea
{
	resize: none;	
}

