@import url(layout.css);

:root 
{
	--strColorMastheadBG: #C5D5E5;
	--strColorBodyBG: white;
	--strColorWebName: black;
	
	--strColorNavBG: #CCAA77;
	--strColorNavAT: black;
	--strColorNavABG: #DDCC88;
	
	--strColorNavAHoverT: black;
	--strColorNavAHoverBG: #EEDD99;
	--strColorNavAHoverT: black;
	--strColorNavAHoverBorder: #EEDD99;
	
	
	--strColorMainButtonGB: #DDCC88;
	--strColorMainButtonT: black;
	
	--strColorFAQQuestionT: red;
	--strColorFAQAnswerT: black;
	
	--strColorFooterBG: #CCAA77;
	--strColorFooterPT: #393939;
	--strColorFooterAT: #393939;
	--strColorFooterAHoverT: black;
  
	--strColorH1T: #393939;
	--strColorH2T: #446699;
	--strColorH3T: #446699;
	--strColorH4T: #446699;
	--strColorH5T: #446699;
	--strColorH6T: #446699;
	
	--strColorAT: #446699;
	--strColorAHoverT: black;
}

body 
{
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-style: normal;
	background-color: /*white*/var(--strColorBodyBG);
}

.container 
{
	width: 100%;
	height:680px;
	margin: 0;
	background-color: #fff;
	position: relative;
	overflow:hidden;
	/*background-color:aqua;*/
}

.masthead 
{
	text-align: right;
	width: 100%;
	background-color: /*#c5d5e5*/var(--strColorMastheadBG);
}

/* Styles for Masthead */
.logo 
{
	display:inline-block;
	float: left;
	margin: 10px;
	width: 105px;
}

.web_title_container
{
	display:inline-block;
	margin: 10px;
	float:left;
	margin-left:20px;
	/*background-color:blue;*/
}

.web_name
{
	display:block;
	text-align:left;
	font-size:5em;
	font-weight:900;
	color:var(--strColorWebName);
	/*font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif*/
	font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	/*background-color:red;*/
}

.web_tag_line
{
	display:block;
	float:left;
	font-size:medium;
	font-weight:bold;
	/*font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif*/
	font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	/*background-color:green;*/
}

.trades_image
{
	display:inline-block;	
	width:420px;
	margin:10px;
}

.navigation 
{
	background-color: var(--strColorNavBG);
	overflow: hidden;
}

.page_content 
{
	position: relative;
	width: 100%;
	height:450px;
	overflow:auto;
	padding:10px;
	/*background-color:lime;*/
}

.main_button
{
	display:inline-block;
	position:relative;
	border-radius:15px;
	border-style:solid;
	border-color:#CCAA77;
	background-color:var(--strColorMainButtonGB);
	cursor:pointer;
	text-align:center;
	vertical-align:middle;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:large;
	color:var(--strColorMainButtonT);
	margin:20px;
	width:400px;
	height:50px;
	line-height:50px;
}

.faq_question
{
	list-style-type:none;
	font-size:medium;
	font-weight:bold;
	color:var(--strColorFAQQuestionT);
}

.faq_answer
{
	list-style-type:none;
	font-size:medium;
	font-weight:bold;
	color:var(--strColorFAQAnswerT);
}

.footer 
{
	background-color:var(strColorFooterBG);
	padding:5px;
	
}

/* Styles for Navigation */
#navigation ul 
{
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

#navigation li 
{
	float:left;
}

#navigation a 
{
	color:var(--strColorNavAT);
	text-decoration: none;
	display:block;
	padding:5px;
	border:1px solid #ca7;
	background-color:var(--strColorNavABG);
	padding-right:10px;
	padding-left:10px;
}
#navigation a:hover 
{
	color:var(--strColorNavAHoverT);
	text-decoration:none;
	border: 1px solid var(--strColorNavAHoverBorder);
	background-color:var(--strColorNavAHoverBG);
}
/* Styles for Content */
h1 
{
	font-size: 2em;
	color: var(--strColorH1T);
} 

h2 
{
	font-size: 1.75em;
	color: var(--strColorH2T);
}

h3 
{
	font-size: 1.5em;
	color: var(--strColorH3T);
}

h4 
{
	font-size: 1.25em;
	color: var(--strColorH4T);
}

h5 
{
	font-size: 0.75em;
	color: var(--strColorH5T);
}

h6 
{
	font-size: 0.5em;
	color: var(--strColorH6T);
}

/* Styles for Footer */
#footer p
{
	font-size: x-small;
	text-align: center;
	color: var(--strColorFooterPT);
	margin: 10px;
	padding: 1px;
}

#footer a 
{
	color: var(--strColorFooterAT);
	text-decoration: underline;
}

#footer a:hover 
{
	color:var(--strColorFooterAHoverT);
	text-decoration: none;
}

/* Styles for Links */
a 
{
	color: #469;
	text-decoration: underline;
}

a:hover 
{
	color: #000;
	text-decoration: underline;
}

textarea
{
	resize:none;
}

.form
{
	border-style:solid;
	border-width:thin;
	border-color:black;
	background-color:white;
	padding:20px;
	margin:20px;
}

.next_button
{
	width:80px;
}


