@import url('../layout.css');
body 
{
	font-family: Arial, sans-serif;
	font-size: medium;
	color: #000;
	overflow: auto;
	background-color: #cb8;
}
.masthead 
{
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
	text-align: right;
	background-color: #c5d5e5;
	height: 130px;
}
.page
{
	position: relative;
	overflow: auto;
}
.sidebar 
{
	position: relative;
	float: left;
	width: 140px;
	background-color: #cb8;
	overflow-y: auto;
	overflow-x: hidden;
}
/* Styles for Navigation */
.sidebar ul 
{
	list-style-type: none;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
.sidebar li 
{
	display: block;
	border: 1px solid #cb8;
}
.sidebar a 
{
	font-weight: bold;
	text-decoration: none;
	color: #393939;
	padding: 5%;
	display: block;
	border-bottom: 1px solid #f5f5f5;
}
.sidebar a:hover 
{
	font-weight: bold;
	text-decoration: none;
	color: #393939;
	border-bottom: 1px solid #f5f5f5;
	background-color: #dc9;
}
.content 
{
	margin-left: 140px;
	padding: 10px;
	background-color: #fff;
	overflow-y: auto;
	overflow-x: hidden;
	height: 465px;
}
.TOCHeading
{
	font-size: large;
	font-weight: bold;
	color: #357171;
	margin: 0px;
}
.TOCList
{
	display: block;
	background-color: #80C0C0;
	list-style-type: none;
	font-size: medium;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 40px;
	width: 50%;
	border: medium #50A9A9 outset;
}
#TOCList a:hover
{
	text-decoration: none;
	color: white;
	background-color: #357171;
}
.TOCListItem
{
	margin-bottom: 5px;
	display: block;
	color: white;
	width: 70%;
	/*background-color: navy;*/
}
.TOCLink
{
	color: white;
	text-decoration: none;
}
.TOCLine
{
	border: 1.5px solid #357171;
}
.footer
{
	clear: both;
	width: 99%;
	height: 38px;
	overflow: hidden;
	padding-top: 0.5%;
	padding-right: 0;
	padding-bottom: 0.5%;
	padding-left: 1%;
	background-color: #cdf;
}
.footer_links
{
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 10px;
	color: navy;
}
.footer_link
{
	position: relative;
	top: 10px;
	margin-left:0px;
	margin-right: 80px;
	color: white;
	font-size: large;
	/*background-color: aqua;*/
}
.footer_image
{
	position: relative;
	top: 4px;
}
.footer_copyright
{
	display: inline-block;
	position: relative;
	top: 12px;
	float: right;
	margin-right: 10px;
	color: navy;
	/*background-color: lime;*/
	font-size: small;
}
.center_vertically
{
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.website_banner
{
	display: inline-block;
	position: relative;
	text-align:left;
	float:left;
	margin-left:30px;
	width:68%;
	margin-left: 10px;
	font-weight: bold;
	overflow: hidden;
	color: navy;
	font-family: "Cooper Black";
	/*background-color: aqua;*/
}
.logo
{
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 10px;
	overflow: hidden;
	/*background-color: lime;*/
}
.website_heading
{
	/*background-color: red;*/
	display: inline-block;
	position: relative;
	font-size: 47.8px;
	line-height: 1.1;
	width: 100%;
}
.website_motto
{
	/*background-color: yellow;*/
	font-size: x-large;
	display: inline-block;
	position: relative;
}
.page_title
{
	color: navy;
}
.contact
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: small;
	margin-right: 10px;
	overflow: hidden;
	color: navy
	/*background-color: fuchsia;*/
}

#Contact a:hover
{
	color: black;
}
.masthead p 
{
	font-size: small;
	margin: 0;
	margin-right: 1%;
}
h1,h2,h3,h4,h5,h6 
{
	font-family: Arial Black;
}
.footer a 
{
	color: #393939;
	text-decoration: underline;
	color: navy;
}
.footer a:hover 
{
	color: #393939;
	text-decoration: underline;
	color: red;
}
.style_bold 
{
	font-weight: bold;
}
.style_italic 
{
	font-style: italic;
}
