<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\php-8.3.2\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="home.php" />
                <add value="default.php" />
                <add value="start.php" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="home.htm" />
                <add value="home.html" />
                <add value="default.htm" />
                <add value="default.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
