vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Dec 2023 11:27:33 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|DESKTOP-KFJ8F7O\\boyle
vti_timecreated:TR|04 Dec 2023 11:27:33 -0000
vti_cacheddtm:TX|04 Dec 2023 11:27:33 -0000
vti_filesize:IR|12282
vti_cachedlinkinfo:VX|S|../images/stats_pie_rtl.png
vti_cachedsvcrellinks:VX|FSUS|forum/Themes/default/images/stats_pie_rtl.png
vti_backlinkinfo:VX|
