vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Aug 2024 15:10:38 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|forum/readme.html
vti_author:SR|DESKTOP-KFJ8F7O\\boyle
vti_modifiedby:SR|LATITUDE-E5430\\gregaryb
vti_timecreated:TR|04 Dec 2023 11:27:33 -0000
vti_cacheddtm:TX|14 Aug 2024 15:10:38 -0000
vti_filesize:IR|85883
vti_cachedlinkinfo:VX|S|../images/icons/toggle.png S|../images/icons/main_icons_sprite.png S|../images/icons/bell.png S|../images/icons/main_icons_sprite_hd.png S|../images/icons/bell_hd.png S|../images/icons/main_icons_sprite.png S|../images/stats_pie.png S|../images/boardicons.png S|../images/icons/profile_hd.png S|../images/icons/profile_sm.png S|../images/post/xx.png
vti_cachedsvcrellinks:VX|FSUS|forum/Themes/default/images/icons/toggle.png FSUS|forum/Themes/default/images/icons/main_icons_sprite.png FSUS|forum/Themes/default/images/icons/bell.png FSUS|forum/Themes/default/images/icons/main_icons_sprite_hd.png FSUS|forum/Themes/default/images/icons/bell_hd.png FSUS|forum/Themes/default/images/icons/main_icons_sprite.png FSUS|forum/Themes/default/images/stats_pie.png FSUS|forum/Themes/default/images/boardicons.png FSUS|forum/Themes/default/images/icons/profile_hd.png FSUS|forum/Themes/default/images/icons/profile_sm.png FSUS|forum/Themes/default/images/post/xx.png
